@media screen and (max-width:575px){
    .left{
        display: none;

        }
    .btn-i{
        color: white;
        }
}
@media screen and (max-width:575px){
        .about-img img{
            width: 100%;
        }
}
@media (max-width:991px) {
    /*START HOW TO BUILD YOUR WEBSITE */
    .build-your-website{
        padding-top: 85px !important;
        padding-bottom: 450px !important;
    }
    .build-your-website .container{
        width: 100% !important;
    }
    .work-section-title h3{
        font-size: 30px;
    }
    .achivement-item i{
        font-size: 35px;
    }
    .achivement-item span{
        font-size: 30px;
    }
    .achivement-item p{
        font-size: 14px;
    }
    .work-section {
        margin-top: -400px;
    } 
    .work-section .container{
        width: 90%;
    }
    .work-section-title{
        padding-top: 85px;
        margin-bottom: 80px
    }
    h3{
        font-size: 30px;
    } 
    .work-section-content{
        padding: 70px;
    } 
    .work-section-title h3::after{
        bottom: -35px;
    }
    .work-item {
       margin-top: 10px;
    }
    .work-item i{
        font-size: 50px;
    }
    .work-item span{
        font-size: 14px;
        margin-top: 32px;
        margin-bottom: 5px;
    }
    .work-item h3{
        font-size: 30px;    
        margin-bottom: 20px;
    }
    .work-item  p{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .work-item a{
        padding: 14px 30px 12px;
        font-size: 14px;
    }
    /*END HOW TO BUILD YOUR WEBSITE */

    /*Start Discount*/
    .discount-section{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .discount-section .container{
        width: 100%;
    }
    .discount-section ul{
        margin-bottom: 30px;
    }
    .discount-section ul li{
        font-size: 14px;
        line-height: 35px;
    }
    .discount-section a{
        padding: 12px 20px;
        font-size: 14px;
    }
    /*End Discount*/
    /*start services page*/
    .service-content p{
        height: 200px;
    }
    .service{
        padding: 0 !important
    }

}


@media (max-width:767px) {
     /*START HOW TO BUILD YOUR WEBSITE */
    .build-your-website{
        padding-bottom: 850px !important;
    }
    .achivement-item i{
        font-size: 40px;
    }
    .achivement-item-count{
        margin-top: 20px !important;
        margin-bottom: 2px !important; 
    }
    .achivement-item span{
        font-size: 35px;
    }
    .achivement-item p{
        font-size: 16px;
    }
    .work-section{
        margin-top: -400px;
    }
    .work-section-title h3{
        font-size: 30px;
    }
    .work-section-content{
        padding-top: 30px;
        padding-bottom: 70px;
        padding: 73px;
    }
    .work-item{
        padding: 0 5px;
    }
    .work-item span{
        margin-top: 28px;
    }
    .work-item h3{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .work-item  p{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 38px;
    }
    .work-item a{
        padding: 14px 30px 12px;
    }
    /*END HOW TO BUILD YOUR WEBSITE */
    /*Services page*/
    .services-header h1{
        font-size: 20px;
    }
    .service{
        padding: 0 !important
    }
    .service-content p{
        height: 200px;
    }

}

@media (max-width:567px) {
     /*START HOW TO BUILD YOUR WEBSITE */
     .build-your-website{
        padding-bottom: 500px !important;
    }
    .work-section{
        margin-top: -400px;
    }
    .work-section .container{
        width: 98%;
    }
    #discount-content{
        padding-right: 40px;
        padding-left: 40px;
    }
    .discount-section ul li i{
        color: #4c57d6;
        margin-right: 9px;
    }
     /*END HOW TO BUILD YOUR WEBSITE */
}