/* Public Css*/
html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
    margin: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    width: 90%;
}
/* End Public */
/*Start  Navbar*/
header{
    background-image: url(../img/hero-1.jpg.webp);
}
.head-info{
    color:white;
    padding: 10px 0;
    border-bottom: 1px solid #252163;

}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.left ul li  , .right ul li a {
    color: white;
    margin-right: 25px;
    font-size: 13px;

}
.left ul li i , .right ul li a i {
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

/*.logo a img{
    background-blend-mode: multiply;
   
}*/
.nav-link{
    color: white !important;
    width: 50%;
}

.navbar-nav{
    text-align: right;
    width: 50%;
}
.navbar-nav .nav-item  .links {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5  10px;
    margin-left: 25px;
    position: relative;
    z-index: 1;
}  
.navbar-nav .nav-item.active .links:after {
	opacity: 1;
	height: 50%;
    visibility: visible;
}
.navbar-nav .nav-item{
    position: relative;
    
}
.navbar-nav .nav-item  .links:after {
    position: absolute;
    left: 10px;
    bottom: 1px;
    width: 100%;
    height: 0%;
    background: #4c57d6;
    content: "";
    z-index: -1;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.navbar-nav .nav-item:hover {
	opacity: 1;
	visibility: visible;
    height: 50%;
	width: 100%;
}
.navbar-nav .nav-item:hover .links:after {
	opacity: 1;
	height: 50%;
    visibility: visible;
}

/*End Navber*/

/*---------------------
  Hero
-----------------------*/
.hero-section,.carousel-item{
    background-image: url(../img/hero-1.jpg.webp);
	background-size: cover;
	
}
.hero_text {
    padding-top: 184px;
    position: absolute;
}

@keyframes content{
    0%   {top: 100px;}
    100% {top: 0px;}
}
.hero_text h5 {
    animation:content 1s infinite;
    position: relative;
}
.hero_text h2{
    animation:content 1s infinite;
    position: relative;
}

.hero_text .primary-btn {
    animation:content 1s infinite;
    position: relative;
}
.hero_text h5 {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
 
}
.hero_text h2 {
	color: #ffffff;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	margin-bottom: 28px;
   

}
.primary-btn {
    display: inline-block;
    font-size: 15px;
    padding: 14px 30px 12px;
    color: #ffffff;
    background: #4c57d6;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
}
.primary-btn:hover{
    background-color: #ffffff;
    color: #4c57d6;
}
/*Start Header*/

/*End Header*/
/*Start REGISTER YOUR DOMAIN*/
p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #444444;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
h5{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

section{
    font-size: 16px;
    color: #181818;
    position: relative;
    transition: .2s;
    padding: 10px;
    box-sizing: border-box;
    
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}
.register__text .register__form form {
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}
.register__text .register__form form input {
    width: 100%;
    height: 45px;
    border: 2px solid #4c57d6;
    border-radius: 50px;
    font-size: 14px;
    color: #111111;
    padding-left: 20px;
}
.register__text .register__form form .change__extension {
    font-size: 14px;
    color: #111111;
    position: absolute;
    top: 36px;
    right: -290px;
    cursor: pointer;
}
.register__text .register__form form .change__extension:before {
    position: absolute;
    left: -30px;
    top: 3px;
    height: 18px;
    width: 1px;
    background: #d7d7d7;
    content: "";
}
.register__text .register__form form .change__extension:after {
    position: absolute;
    right: -20px;
    top: 0;
    content: "3";
    font-family: "ElegantIcons";
}



div {
    display: block;
}
.register__text .register__form form .site-btn {
    position: absolute;
    right: 22px;
    top: 22px;

}
.register__text .register__result ul li span{
    color: #111111;
    font-size: 15px;
    padding-left: 3%;
}
.register__text .register__result ul li {
    display: flex;
    list-style: none;
    color: #4c57d6;
    font-weight: 700;
    margin-right: 7%;
    font-size: 16px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.site-btn {
    width: 120px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #4c57d6;
    border: none;
    border-radius: 50px;
    
}
button, input {
    overflow: visible;
}


.register__result ul{
    display: flex;
}
.register__text{
    padding: 20px;

}
.register__text .register__result {
    margin-bottom: 24px;
}

.register__form input{
    width: 100%;
    color: #4c57d6;
    padding: 5px;
    border-radius: 20px;
}

.register__text .register__form {
    margin-bottom: 34px;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
/* Choose the right hosting solution */
.services__item {
    background: #ffffff;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 45px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px rgb(18 8 81 / 15%);
    box-shadow: 0px 0px 10px rgb(18 8 81 / 15%);
    margin-bottom: 40px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.section-title {
    margin-bottom: 70px;
    text-align: center;
}
.section-title h3{
    position:relative;
    font-size: 30px;
    font-weight: 700;
    color: #212529;
}
.section-title h3:after {
    position: absolute;
    top:65px;
    left: 0;
    bottom: -30px;
    right: 0;
    height: 13px;
    width: 83px;
    background-image: url(../assets/img/line.png.webp);
    content: "";
    margin: 0 auto;
}

.services__item span{
    color: #4c57d6;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;

}



@media only screen and (max-width: 479px){
    .register__text .register__result ul li {
        margin-bottom: 10px;
}}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

}
@media only screen and (max-width: 767px){
    .register__text .register__result ul li{
        margin-right: 10px;
    }
    .section-title h3:after{
        content: unset;
    }
 
    
}
/***************/
/*End REGISTER YOUR DOMAIN*/

/*Start CHOOSE YOUR PLAN*/

.choose-section {

	padding-bottom: 100px ;

	padding-bottom: 60px;
}

.choose-swipe-btn {
	border: 1px solid #4c57d6;
	border-radius: 50px;
	height: 50px;
	width: 250px;
	float: right;
}

.choose-swipe-btn label {
	font-size: 15px;
	color: #444444;
	font-weight: 600;
	display: inline-block;
	padding: 10px 25px 10px;
	border-radius: 45px;
	margin-right: -4px;
	position: relative;
	top: 2px;
	left: 2px;
	
}

.choose-swipe-btn label.active {
	background: #4c57d6;
	color: #ffffff;
}

.choose-swipe-btn label input {
	position: absolute;
}



.choose-item {
	text-align: center;
	padding-bottom: 25px;
	padding-top: 22px;
	background: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.1);
	box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.1);
	transition: all 0.3s;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.choose-item:hover {
	-webkit-box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
	box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
}

.choose-item:hover h3 {
	background: #4c57d6;
}

.choose-item:hover .primary-btn {
	background: #4c57d6;
	color: #ffffff;
}

.choose-item h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 20px;
}

.choose-item h3 {
	background: #120851;
	font-weight: 700;
	color: #ffffff;
	padding: 25px 0 20px;
	margin-bottom: 25px;
	margin-left: -30px;
	border-radius: 10px;
	margin-right: -30px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.choose-item h3 span {
	font-size: 15px;
	font-weight: 400;
	font-family: "sans-serif" ;
}

.choose-item ul {
	margin-bottom: 25px;
}

.choose-item ul li {
	font-size: 13px;
	color: #444444;
	line-height: 40px;
	list-style: none;
}

.choose-item .primary-btn {
	color: #111111;
	background: #f2f2f2;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 14px 0 12px;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}


/*End CHOOSE YOUR PLAN*/
/*start CLIENTS Number*/

/*End CLIENTS Number*/
/*Start HOW TO BUILD YOUR WEBSITE */
h3, h4{
	font-family: "Montserrat", sans-serif;
}
.build-your-website{
	background-image: url('../img/achievement-bg.jpg.webp');
	background-size: cover;	
	background-position: top center;
	padding-bottom: 200px !important;
}
.build-your-website .container{
	width: 50%;
}
.achivement-item{
	text-align: center;
}
.achivement-item i{
	font-size: 20px;
	color: #4c57d6;
}
.achivement-item span{
	font-weight: 800;
	margin-bottom: 1px;
}
.achivement-item p{
	font-size: 8px;
}
.work-section{
	background-color: transparent;
	height: auto;
	border-top: 1px solid #62677d;
	margin-top: -190px;
}
.work-section .container{
	width: 50%;
}
.work-section-title{
	text-align: center;
	padding-top: 50px;
	margin-bottom: 40px;
}
.work-section-title h3{
	font-weight: 700;
	font-size: 15px;
}
.work-section-title{
	text-transform: uppercase;
	color: white;
	position: relative;
}
.work-section-title h3::after, .services-header h1::after{
	content: "";
	background-image: url("../img/line.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -23px;
	width: 100px;
	height: 15px;
	margin: 0 auto;
}
.work-section-content{
	height: auto;
	background-color: white;
	padding: 40px;
	position: relative;
}
.work-section-content::after{
	content: "";
	position: absolute;
	border-top: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
	top: -10px;
	left: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	margin: 0 auto;
}
.work-item i{
	font-size: 25px;
	color: #4c57d6;
}
.work-item span{
	display: block;
	font-size: 7px;
	color: #4c57d6;
	margin-top: 18px;
}
.work-item h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	margin-top: 2px;
}
.work-item  p{
	font-weight: 400;
	font-size: 8px;
    font-family: "Montserrat", sans-serif;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}
.work-item a{
	padding: 6px 12px;
	background-color: #4c57d6;
	color: white;
	font-size: 8px;
	font-weight: 700;
}
/*End HOW TO BUILD YOUR WEBSITE */

/*Start Discount*/
.discount-section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.discount-section h3{
	font-weight: 700;
	font-size: 30px;
}
.discount-section .container{
	width: 50%;
}
.discount-section ul{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 15px;
}
.discount-section ul li{
	font-size: 7px;
	line-height: 20px;
	font-weight: 500;
}
.discount-section ul li i{
	color: #4c57d6;
	margin-right: 5px;
}
.discount-section a, .courses-details a {
	padding: 6px 12px;
	background-color: #4c57d6;
	color: white;
	font-size: 8px;
	font-weight: 700;
}
/*End Discount*/
/* Start Footer */
.footer__text{
    background-image: url(../img/footer-bg.png.webp);
    background-size: cover;
}
.footer__top {
	position: relative;
	z-index: 1;
	padding-top: 50px;
	padding-bottom: 280px;
}

.footer__top::before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%;
	background: #0B052F;
	content: "";
	z-index: -1;
}

.footer__top::after {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
	background: #0E0739;
	content: "";
	z-index: -1;
}

.footer__top-call h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 18px;
}

.footer__top-call h2 {
	font-weight: 700;
	color: #4c57d6;
}

.footer__top-auth {
	padding-left: 25px;
}

.footer__top-auth h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 20px;
}

.footer__top-auth .sign-up {
	margin-left: 6px;
	background: transparent;
	border: 2px solid #4c57d6;
	padding: 12px 30px 10px;
}

.footer__text {
	position: relative;
	z-index: 99;
	padding-top: 140px;
	margin-top: -225px;
}

.footer_about {
	margin-bottom: 30px;
}

.footer_about .footer__logo {
	margin-bottom: 24px;
}

.footer_about .footer__logo a {
	display: inline-block;
}

.footer_about p {
	color: #c4c4c4;
	line-height: 24px;
	margin-bottom: 20px;
}

.footer_about .footer__social a {
	display: inline-block;
	font-size: 18px;
	color: #c4c4c4;
	margin-right: 26px;
}

.footer_about .footer__social a:last-child {
	margin-right: 0;
}

.footer__text-widget {
	margin-bottom: 30px;
}

.footer__text-widget h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer__text-widget ul li {
	list-style: none;
}

.footer__text-widget ul li a {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 30px;
}

.footer__text-widget .footer-info li {
	list-style: none;
	font-size: 14px;
	color: #c4c4c4;
	line-height: 42px;
	position: relative;
	padding-left: 35px;
}

.footer__text-widget .footer-info li span {
	color: #4c57d6;
	position: absolute;
	left: 0;
	top: 14px;
}

.footer-copyright {
	font-size: 14px;
	color: #c4c4c4;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #2a2163;
	margin-top: 20px;
}
/* End Footer */

/*services page*/
.services-header h1{
    font-weight: 600;
}
.services-header h1::after{
	left: -30px;
	bottom: 5px;
}
.service-container{
    position: relative;
    padding: 32px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.service-container::before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:#20247b;
    border-radius: 10px;
    z-index: -1;
    transition: ease all 1s;
}
.service-container:hover::before{
    width: 100%;
}
.service-container:hover .service-content h2{
    color: white !important;
}
.service-container:hover .service-content p{
    color : rgba(255, 255, 255, 0.8);
}
.service-container .icon{
    width: 72px;
    height: 72px;  
    background-color: #fc5356;
    margin-bottom: 22px;
}
.service-container .icon i {
    font-size: 30px;
    line-height: 72px;
}
.service-content h2{
    color: #20247b;
    font-weight: 600;
}
.service-content p{
    overflow: auto;
    padding: 10px;
    margin: 0;
}

  







