/* Public Css*/
html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
    margin: 0;
}
/* End Public */
/*Start  Navbar*/

/*End Navber*/
/*Start Header*/

/*End Header*/
/*Start REGISTER YOUR DOMAIN*/

/*End REGISTER YOUR DOMAIN*/
/*Start CHOOSE THE RIGHT HOSTING*/

/*End CHOOSE THE RIGHT HOSTING */
/*Start CHOOSE YOUR PLAN*/

/*End CHOOSE YOUR PLAN*/
/*start CLIENTS Number*/

/*End CLIENTS Number*/
/*Start HOW TO BUILD YOUR WEBSITE */

/*End HOW TO BUILD YOUR WEBSITE */
h3, h4{
	font-family: "Montserrat", sans-serif;
}
.build-your-website{
	background-image: url('../images/achievement-bg.jpg.webp');
	background-size: cover;	
	background-position: top center;
	padding-bottom: 200px !important;
}
.build-your-website .container{
	width: 50%;
}
.achivement-item{
	text-align: center;
}
.achivement-item i{
	font-size: 20px;
	color: #4c57d6;
}
.achivement-item span{
	font-weight: 800;
	margin-bottom: 1px;
}
.achivement-item p{
	font-size: 8px;
}
.work-section{
	background-color: transparent;
	height: auto;
	border-top: 1px solid #62677d;
	margin-top: -190px;
}
.work-section .container{
	width: 50%;
}
.work-section-title{
	text-align: center;
	padding-top: 50px;
	margin-bottom: 40px;
}
.work-section-title h3{
	font-weight: 700;
	font-size: 15px;
}
.work-section-title{
	text-transform: uppercase;
	color: white;
	position: relative;
}
.work-section-title h3::after{
	content: "";
	background-image: url("../images/line.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -23px;
	width: 100px;
	height: 15px;
	margin: 0 auto;
}
.work-section-content{
	height: auto;
	background-color: white;
	padding: 40px;
	position: relative;
}
.work-section-content::after{
	content: "";
	position: absolute;
	border-top: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
	top: -10px;
	left: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	margin: 0 auto;
}
.work-item i{
	font-size: 25px;
	color: #4c57d6;
}
.work-item span{
	display: block;
	font-size: 7px;
	color: #4c57d6;
	margin-top: 18px;
}
.work-item h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	margin-top: 2px;
}
.work-item  p{
	font-weight: 400;
	font-size: 8px;
    font-family: "Montserrat", sans-serif;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}
.work-item a{
	padding: 6px 12px;
	background-color: #4c57d6;
	color: white;
	font-size: 8px;
	font-weight: 700;
}


/*Start Discount*/
.discount-section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.discount-section h3{
	font-weight: 700;
	font-size: 30px;
}
.discount-section .container{
	width: 50%;
}
.discount-section ul{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 15px;
}
.discount-section ul li{
	font-size: 7px;
	line-height: 20px;
	font-weight: 500;
}
.discount-section ul li i{
	color: #4c57d6;
	margin-right: 5px;
}
.discount-section a {
	padding: 6px 12px;
	background-color: #4c57d6;
	color: white;
	font-size: 8px;
	font-weight: 700;
}
/*End Discount*/




