/* Public Css*/
html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
    margin: 0;
}
/* End Public */
/*Start  Navbar*/

/*End Navber*/
/*Start Header*/

/*End Header*/
/*Start REGISTER YOUR DOMAIN*/

/*End REGISTER YOUR DOMAIN*/
/*Start CHOOSE THE RIGHT HOSTING*/

/*End CHOOSE THE RIGHT HOSTING */
/*Start CHOOSE YOUR PLAN*/

/*End CHOOSE YOUR PLAN*/
/*start CLIENTS Number*/

/*End CLIENTS Number*/
/*Start HOW TO BUILD YOUR WEBSITE */

/*End HOW TO BUILD YOUR WEBSITE */
/*Start Discount*/

/*End Discount*/




